
<div class="row mt-5">
  <div class="col-md-6 d-flex justify-content-center">
    <h2 class="text-center align-middle" >Login</h2>

    <form class="form login-form ms-3"> 
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-light" type="submit">Login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6 d-flex justify-content-center">
    <h2>Sign Up</h2>

    <form class="form signup-form ms-3">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-light" type="submit">Sign up</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>