 body{
	margin: 0;
	padding: 0;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #01431c, #9fe998, #01431c);
 }
 nav a{
    color: white;
 }

 nav a:hover {
    color:black;
 }

  